<nav
  class="relative w-full flex flex-wrap items-center justify-between py-4 bg-gray-100 text-gray-500 shadow-lg navbar navbar-expand-lg navbar-light hover:text-gray-700 focus:text-gray-700"
>
  <div
    class="container-fluid w-full flex flex-wrap items-center justify-between px-6"
  >
    <button
      class="navbar-toggler text-gray-500 border-0 py-2 bg-transparent hover:shadow-none hover:no-underline px-2 5 focus:outline-none focus:ring-0 focus:shadow-none focus:no-underline"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <svg
        class="w-6"
        aria-hidden="true"
        focusable="false"
        data-prefix="fas"
        data-icon="bars"
        role="img"
        xmlns="http://www.w3.org/2000/svg"
        viewbox="0 0 448 512"
      >
        <path
          fill="currentColor"
          d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
        ></path>
      </svg>
    </button>
    <div
      id="navbarSupportedContent"
      class="collapse navbar-collapse flex-grow items-center"
    >
      <ul class="navbar-nav flex flex-col pl-0 list-style-none mr-auto">
        <% navbarItems.forEach(item => { %> 
          <% if (item.active) { %>
            <li class="nav-item px-2">
              <a
                href="<%= item.ref %>"
                class="nav-link active"
                aria-current="<%=item.name%>"
              >
                <%=item.name%></a
              >
            </li>
          <%} else {%>
          <li class="nav-item pr-2">
            <a
              href="<%=item.ref%>"
              class="nav-link text-gray-500 p-0 hover:text-gray-700 focus:text-gray-700"
              ><%=item.name%></a
            >
          </li>
        <% }}) %>
      </ul>
    </div>
  </div>
</nav>
