td #{product.id}
td #{product.title}
td #{product.price}
if product.thumbnail
  td
    div(class="avatar")
      div(class="mask mask-squircle w-12 h-12")
        img(src=product.thumbnail alt=product.title) 
      div
    div
